<div class="row">
	<div class="col-md-12">
    	<div class="panel panel-success" ng-controller="newsCtrl">
          <div class="panel-heading">
              <h3 class="panel-title">Добавление новостей</h3>
          </div>
          <div class="panel-body">
          	<div class="row">
            	<form class="form-horizontal form" name="updateForm" ng-submit="add()">
                  <div class="form-group">
                    <label for="dataTitle" class="col-sm-2 control-label">Название</label>
                    <div class="col-sm-3">
                      <input type="text" class="form-control" id="dataTitle" ng-model="newNewsItem.title" required>
                    </div>
                  </div>
                  <div class="form-group">
                  	<label for="dataCat" class="col-sm-2 control-label">Тип</label>
                    <div class="col-sm-3">
                    	<select class="form-control" id="dataCat"  ng-model="newNewsItem.type" ng-options="$eval(key) as value for (key, value) in types"></select>
                    </div>
                  </div>
                  <div class="form-group">
                  	<label for="catDescription" class="col-sm-2 control-label">Текст</label>
                    <div class="col-sm-5">
                    	<textarea class="form-control" id="catDescription" rows="5" ng-model="newNewsItem.text" required></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                  	<label for="catText" class="col-sm-2 control-label">Полный текст</label>
                    <div class="col-sm-7">
                    	<textarea class="form-control" id="catText" rows="8" ng-model="newNewsItem.full_text" required></textarea>
                    </div>
                  </div>
                  <div class="form-group"  ng-controller="userCtrl">
                  	<label for="userGroup" class="col-sm-2 control-label">Автор</label>
                    <div class="col-sm-2">
                    	<select class="form-control" id="userGroup" ng-model="newNewsItem.author" ng-options="$eval(user.id) as user.login for user in users"></select>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <input type="submit" class="btn btn-primary" value="Добавить">
                    </div>
                  </div>
                </form>
            </div>
          </div>
        </div>
    </div>
</div>