<div class="row">
	<div class="col-md-12">
    	<div class="panel panel-success" ng-controller="sostavCtrl">
          <div class="panel-heading">
              <h3 class="panel-title">Редактирование состава</h3>
          </div>
          <div class="panel-body">
          	<div class="row">
                <div class="col-md-2"><button type="button" class="btn btn-success">Добавить &nbsp;<span class="glyphicon glyphicon-plus"></span></button></div>
                <div class="col-md-1">
                <select class="form-control" style="width:70px; padding:0 3px;">
                    <option>10</option>
                    <option>25</option>
                    <option>50</option>
                    <option>100</option>
                </select><br></div>
	  		</div>
            <table class="table table-bordered table-hover">
              <thead>
                  <tr>
                    <th>Имя</th>
                    <th>Очки</th>
                    <th>Ранг</th>
                    <th>Действие</th>
                  </tr>
              </thead>
                <tr ng-repeat="player in players">
                    <td>{{player.name}}</td>
                    <td>{{player.scores}}</td>
                    <td>{{player.rangName}}</td>
                    <td style="text-align:center; vertical-align:middle;">
                    	<span class="glyphicon glyphicon-pencil edit"></span>
                        &nbsp;&nbsp;
                        <span class="glyphicon glyphicon-trash edit" ng-click="del($index)"></span>
                    </td>
                </tr>
            </table>
            <nav class="pull-right">
              <ul class="pagination">
                <li class="disabled">
                  <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                  <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
    </div>
</div>