<div class="row">
	<div class="col-md-12">
    	<div class="panel panel-success" ng-controller="dataCtrl">
          <div class="panel-heading">
              <h3 class="panel-title">Редактирование материалов</h3>
          </div>
          <div class="panel-body">
          	<div class="row">
                <div class="col-md-2">
                	<button type="button" ng-click="goAdd()" class="btn btn-success">Добавить &nbsp;<span class="glyphicon glyphicon-plus"></span></button>
                </div>
                <div class="col-md-1">
                	<select class="form-control" style="width:70px; padding:0 3px;" ng-model="limit" ng-change="changeLimit(limit)" ng-options="limit for limit in limits"></select><br>
                </div>
	  		</div>
            <table class="table table-bordered table-hover">
              <thead>
                  <tr>
                    <th ng-repeat="header in sorts" ng-click="changeSort($index)">
                    	{{header.name}} <span class="pull-right" ng-class="sortClass[$index]"></span>
                    </th>
                    <th>Действие</th>
                  </tr>
              </thead>
                <tr ng-repeat="dataItem in data | getItems: { limit: limit, from: diapazons[page - 1] } | orderBy: sortProp">
                    <td>{{$index + 1  }} {{dataItem.title}}</td>
                    <td ng-controller="categoryCtrl" define-cat></td>
                    <td>{{dataItem.meta_d}}</td>
                    <td style="text-align:center; vertical-align:middle;">
                    	<button class="btn btn-default btn-xs" ng-click="goUpdate(dataItem.id)" ng-disabled="buttonDisable">
                        	<span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        &nbsp;
                        <button class="btn btn-default btn-xs" ng-click="del(dataItem.id)" ng-disabled="buttonDisable">
	                        <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </td>
                </tr>
            </table>
            <ng-include src="'views/pagination.html'" ng-controller="paginationCtrl"></ng-include>
          </div>
        </div>
    </div>
</div>