body {
	background-color:#f5f5f5;
}

footer {
	margin-right:40px;
}

.shadow {
	box-shadow: 0px 1px 6px 0px rgba(0,0,0,.3);
}

.content {
	margin:100px 40px 0px 40px;
}

.edit:hover {
	cursor:pointer;
	box-shadow:0px 0px 8px rgba(0,0,0,.3);
}

.form {
	margin-left:12px;
	margin-right:12px;
}

.avatar-sm {
	width:30px;
	height:30px;
	margin-left:16px;
}

.rightBtn {
	margin-left:15px;
	margin-top:2px;
}

@media (min-width: 992px) {
	.navigation {
		width:250px;
		position:fixed;
	}
	
	.rang {
		position:absolute;
		left:100px;
	}
}